<div class="container margin_60">
  <div class="row">

    <div class="col-md-9">
      <div class="box_style_1">
        <form action="http://www.ansonika.com/atena/horizontal_nav/apply_online.php" id="apply_online" method="POST" novalidate="novalidate">
          <div class="indent_title_in">
            <i class="pe-7s-user"></i>
            <h3>Personal details</h3>
            <p>Mussum ipsum cacilds, vidis litro abertis.</p>
          </div>
          <div class="wrapper_indent">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>First name</label>
                  <input type="text" class="form-control styled required" id="name_apply" name="name_apply" placeholder="First name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Last name</label>
                  <input type="text" class="form-control styled required" id="lastname_apply" name="lastname_apply" placeholder="Last name">
                </div>
              </div>
            </div><!-- End row -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control styled required" id="email_apply" name="email_apply" placeholder="youremail@domain.com">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Phone number</label>
                  <input type="text" class="form-control styled required" id="phone_apply" name="phone_apply" placeholder="+0043 XXX XXXXX">
                </div>
              </div>
            </div><!-- End row -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Gender</label><br>
                  <div class="radio_inline">
                    <div class="iradio_square-blue" style="position: relative;"><input type="radio" name="gender_apply" id="gender_apply_male" class="required" value="Male" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div><label style="margin-right:20px;">Male</label>
                    <div class="iradio_square-blue" style="position: relative;"><input type="radio" name="gender_apply" id="gender_apply_female" class="required" value="Female" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div><label>Female</label>
                  </div>
                </div>
              </div>
            </div><!-- End row -->
          </div>
          <hr class="styled_2">
          <div class="indent_title_in">
            <i class="pe-7s-map-marker"></i>
            <h3>Address</h3>
            <p>Mussum ipsum cacilds, vidis litro abertis.</p>
          </div>
          <div class="wrapper_indent">


            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Address line</label>
                  <input type="text" class="form-control styled required" id="address_apply" name="address_apply" placeholder="Your full address">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control styled required" id="town_apply" name="town_apply" placeholder="Town">
                </div>
              </div>
            </div><!-- End row -->

            <div class="row">
              <div class="col-md-6">
                <label>Country</label>
                <div class="styled-select">
                  <select class="form-control required" name="country_apply" id="country_apply">
                    <option value="" selected="">Select your country</option>
                    <option value="Europe">Europe</option>
                    <option value="Asia">Asia</option>
                    <option value="North America">North America</option>
                    <option value="South America">South America</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="text" class="form-control styled required" id="postal_code_apply" name="postal_code_apply" placeholder="001238">
                </div>
              </div>
            </div>


          </div>
          <hr class="styled_2">


          <hr class="styled_2">

          <div class="wrapper_indent">
            <div class="form-group">
              <div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" name="policy_terms" id="policy_terms" class="required" value="Yes" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div><label>I accept <a href="#0">terms and conditions</a> and general policy.</label>
            </div>
            <p><button type="submit" class="button">Submit</button></p>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3">

      <h4><strong>How to apply</strong></h4>
      <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius. Te pri facete latine salutandi, scripta mediocrem et sed, cum.</p>

      <div class="box_side"><h5>By Phone</h5> <i class="icon-phone"></i>
        <p> + 0043 848293 43<br><small>Monday to Friday 9.00am - 6.00pm</small></p>
      </div>

      <div class="box_side"><h5>By Postal Mail</h5> <i class="icon_pencil-edit"></i>
        <p><a href="#0"><strong>Download the application form</strong></a>,<br> and send it to this address:<br><br><em>4 West 31st Street New York<br>
          10001 United States</em></p>
      </div>
      <hr class="styled">
      <div class="box_side"><h4>Plan a visit</h4> <i class="icon_pencil-edit"></i>
        <p>Per eu esse deleniti scripserit, sed ut nihil inimicus sadipscing. Eu iusto ignota officiis sit, nullam ullamcorper eam ut. </p>
        <a href="#0" class="button small">Plan a visit</a>
      </div>

    </div>
  </div><!--End row -->
</div>

<!--<div class="container">-->
  <!--<div class="col-md-12">-->
    <!--<div class="col-md-5 col-md-offset-6">-->
      <!--<figure>-->
        <!--<a href="index.html"><img src="img/logo.png" width="149" height="42" data-retina="true" alt=""></a>-->
      <!--</figure>-->
      <!--<form autocomplete="off">-->
        <!--<div class="form-group">-->

					<!--<span class="input">-->
					<!--<input class="input_field" type="text">-->
						<!--<label class="input_label">-->
						<!--<span class="input__label-content">Your Name</span>-->
					<!--</label>-->
					<!--</span>-->

          <!--<span class="input">-->
					<!--<input class="input_field" type="text">-->
						<!--<label class="input_label">-->
						<!--<span class="input__label-content">Your Last Name</span>-->
					<!--</label>-->
					<!--</span>-->

          <!--<span class="input">-->
					<!--<input class="input_field" type="email">-->
						<!--<label class="input_label">-->
						<!--<span class="input__label-content">Your Email</span>-->
					<!--</label>-->
					<!--</span>-->

          <!--<span class="input">-->
					<!--<input class="input_field" type="password" id="password1">-->
						<!--<label class="input_label">-->
						<!--<span class="input__label-content">Your password</span>-->
					<!--</label>-->
					<!--</span>-->

          <!--<span class="input">-->
					<!--<input class="input_field" type="password" id="password2">-->
						<!--<label class="input_label">-->
						<!--<span class="input__label-content">Confirm password</span>-->
					<!--</label>-->
					<!--</span>-->

          <!--<div id="pass-info" class="clearfix"></div>-->
        <!--</div>-->
        <!--<a href="#0" class="btn_1 rounded full-width add_top_30">Register to Udema</a>-->
        <!--<div class="text-center add_top_10">Already have an acccount? <strong><a href="login.html">Sign In</a></strong></div>-->
      <!--</form>-->
      <!--<div class="copy">© 2017 Udema</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->