<div id="page">
    <header class="header-register">

        <div id="logo" class="text-center">
            <a href="index.html"><img src="../assets/img/logo.png" width="149" height="42" data-retina="true" alt=""></a>
        </div>
      <!-- End Search Menu -->
    </header>
    <div class="container margin_60">
        <div class="row">

            <div class="col-md-9">
                <div class="box_style_1">
                    <form [formGroup]="signupform" (ngSubmit)="RegisterController()"  novalidate="novalidate">
                        <div class="indent_title_in">
                            <i class="pe-7s-user"></i>
                            <h3>Personal details</h3>
                            <p></p>
                        </div>
                        <div class="wrapper_indent">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group"  [ngClass]="{'has-error': signupform.get('firstName').errors && signupform.get('firstName').touched}">
                                        <label>First name</label>
                                        <input type="text" class="form-control styled required" id="name_apply" formControlName="firstName" placeholder="First name">
                                        <small class="help-block text-danger" *ngIf="signupform.get('firstName').hasError('required') && signupform.get('firstName').touched">
                                            This field can't be blank
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{'has-error': signupform.get('lastName').errors && signupform.get('lastName').touched}" >
                                        <label>Last name</label>
                                        <input type="text" class="form-control styled required" id="lastname_apply" formControlName="lastName" placeholder="Last name">
                                        <small class="help-block text-danger" *ngIf="signupform.get('lastName').hasError('required') && signupform.get('lastName').touched">
                                            This field can't be blank
                                        </small>
                                    </div>
                                </div>
                            </div><!-- End row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group"  [ngClass]="{'has-error': signupform.get('email').errors && signupform.get('email').touched}">
                                        <label>Email</label>
                                        <input type="email" class="form-control styled required" id="email_apply"  formControlName="email" placeholder="youremail@domain.com">
                                        <small class="help-block text-danger" *ngIf="signupform.get('email').hasError('email') && signupform.get('email').touched">
                                            Invalid email address
                                        </small>
                                        <small class="help-block text-danger" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
                                            This field can't be blank
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"  [ngClass]="{'has-error': signupform.get('phone').errors && signupform.get('phone').touched}">
                                        <label>Phone number</label>
                                        <input type="text" class="form-control styled required" id="phone_apply"  formControlName="phone" placeholder="+0043 XXX XXXXX">
                                        <small class="help-block text-danger" *ngIf="signupform.get('phone').hasError('required') && signupform.get('phone').touched">
                                            This field can't be blank
                                        </small>
                                    </div>
                                </div>
                            </div><!-- End row -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Institution</label>
                                        <select class="form-control styled-select required">
                                            <option value="0">Select your institution</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Department</label>
                                        <select class="form-control styled-select required">
                                            <option value="0">Select your Department</option>
                                        </select>
                                    </div>
                                </div>
                            </div><!-- End row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{'has-error': signupform.get('password').errors && signupform.get('password').touched}">
                                        <label>Password</label>
                                        <input type="password" class="form-control styled required"  formControlName="password" placeholder="Strong Password">
                                        <span class="help-block text-danger" *ngIf="signupform.get('password').hasError('required') &&  signupform.get('password').touched">
                      This field can't be blank
                    </span>
                                        <small class="help-block" *ngIf="signupform.get('password').hasError('invalidPassword') &&  signupform.get('password').touched">
                                            Password must contain at least one Uppercase letter, digits and special character (@1!#$)
                                        </small>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <select class="form-control required">
                                            <option value="0">--Gender--</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                            <option value="other">Others</option>
                                        </select>
                                    </div>
                                </div>


                            </div><!-- End row -->

                        </div>
                        <hr class="styled_2">
                        <div class="indent_title_in">
                            <i class="pe-7s-map-marker"></i>
                            <h3>Address</h3>
                            <p>Enter your Address</p>
                        </div>
                        <div class="wrapper_indent">


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>State</label>
                                       <select class="form-control">
                                           <option>--Select state--</option>
                                           <option *ngFor="let state of states" value="{{state.name}}">{{state.name}}</option>
                                       </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control styled required" id="town_apply" name="town_apply" placeholder="Town">
                                    </div>
                                </div>
                            </div><!-- End row -->
                        </div>


                        <div class="wrapper_indent">
                            <div class="form-group">
                                <div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" name="policy_terms" id="policy_terms" class="required" value="Yes" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div><label>I accept <a href="#0">terms and conditions</a> and general policy.</label>
                            </div>


                                <p align="right"><button type="submit" [disabled]="!signupform.valid" class="btn btn-primary btn-sm"><i [class]="!isLoading? 'icon icon-export-outline': 'icon icon-spin5 animate-spin' "></i> {{isLoading? '': 'Sign up'}} </button></p>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">

                <h4><strong>How to apply</strong></h4>
                <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius. Te pri facete latine salutandi, scripta mediocrem et sed, cum.</p>

                <div class="box_side"><h5>By Phone</h5> <i class="icon-phone"></i>
                    <p> + 0043 848293 43<br><small>Monday to Friday 9.00am - 6.00pm</small></p>
                </div>

                <div class="box_side"><h5>By Postal Mail</h5> <i class="icon_pencil-edit"></i>
                    <p><a href="#0"><strong>Download the application form</strong></a>,<br> and send it to this address:<br><br><em>4 West 31st Street New York<br>
                        10001 United States</em></p>
                </div>
                <hr class="styled">
                <div class="box_side"><h4>Plan a visit</h4> <i class="icon_pencil-edit"></i>
                    <p>Per eu esse deleniti scripserit, sed ut nihil inimicus sadipscing. Eu iusto ignota officiis sit, nullam ullamcorper eam ut. </p>
                    <a href="#0" class="button small">Plan a visit</a>
                </div>

            </div>
        </div><!--End row -->
    </div>

</div>
